#switcher-store {
	float: left; // 2018-09-17 Other top links will be positioned at right.
	.action.toggle {
		// 2018-09-17 It places the arrow at the vertical's middle of the text line.
		&:after {margin-top: 0.5em;}
		// 2018-09-17
		// I disable the arrow's reverting on its activation
		// (it replicates the publicdesire.com's behaviour).
		&.active:after {content: '\e622';}
	}
}
div.flag-icon {
	display: inline-block;
	// 2018-03-11 I need `!important` for the mobile version.
	vertical-align: top !important;
	// 2018-03-11
	// I need it to vertically align a flag with the country's name.
	// The `display: inline-block` rule is already applied to the `.flag-icon` span,
	// and it is not possible can not make it `inline`, because it will break the flag's appearance,
	// so I set `display: inline-block` to the country's name.
	& + strong {display: inline-block;}
	#switcher-store-trigger & {line-height: 24px;}
	.switcher-dropdown & {line-height: 22px;}
}
.switcher-dropdown li {text-align: left;}
#switcher-store-trigger .flag-icon + strong {margin-top: 1px;}
// 2018-03-11 I need `!important` for the mobile version.
#switcher-store-trigger::after {float: right !important;}